test/detector/trainingData.yml filter=lfs diff=lfs merge=lfs -text
Classrooms/A[[:space:]]201/dataset/trainingData.yml filter=lfs diff=lfs merge=lfs -text
Classrooms/A[[:space:]]201/detector/trainingData.yml filter=lfs diff=lfs merge=lfs -text
